RewriteEngine on

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)$ ./index.php?route=$1 [QSA,L]

#RewriteEngine On – включаем режим перенаправления запросов

#RewriteCond %{SCRIPT_FILENAME} !-d – если в директории есть папка,
#соответствующая адресу запроса, то отдать её в ответе

#RewriteCond %{SCRIPT_FILENAME} !-f – если в директории есть файл,
# соответствующий адресу запроса, то вернуть его в ответе

#RewriteRule ^(.*)$ ./index.php?route=$1 [QSA,L] – если файл или папка не найдены,
#то для такого запроса выполнится этот пункт.

#В таком случае веб-сервер перенаправить этот запрос на скрипт index.php.
#При этом скрипту будет передан GET-параметр route со значением запрошенного URI.
#$1 – это значение, выдернутое с помощью регулярки по маске ^(.*)$.
#То есть весь URI будет передана в этот GET-параметр.
